@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap');

body {
  background-color: #f3f7f9;
  font-family: 'Work Sans', sans-serif;}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.body {
  max-width: 620px;
  min-width: 300px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px #dfe4e7;
  border-style: solid;
  box-shadow: 0px 0px 10px 5px #e2e5e8;
}

.header {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background-image: url('https://images.unsplash.com/photo-1529686342540-1b43aec0df75');
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
}

.photocredit {
  position: absolute;
  bottom: 3px;
  right: 5px;
  padding: 5px 6px;
  font-size: x-small;
  color: #fff;
  // background-color: hsla(0,100%,100%,0.5);
  // border-radius: 5px;
}

.photocredit a {
  color: #fff;
}

.content {
  padding: 20px 50px;
  margin: auto;
}

.content ol, ul {
padding: 0 0 0 20px;
}

.content-footnotes li  {
  padding: 0 0 10px 5px;
  font-size: small;
}

.content-footnotes code {
  font-size: medium;
  background-color: #e2e5e8;
  padding: 2px 5px;
}

.footer_menu a {
  text-decoration: none;
  color: #000;
}

.footer {
  background-color: #ebf8ff;
  padding: 20px 50px;
  border-radius: 0 0 10px 10px;
  width: 100%;
}
* {
  box-sizing: border-box;
}

//Using boxes as menu items

// .footer_menu {
//   content: "";
//   clear: both;
//   display: table;
//   width: 100%;
// }
//
// .footer_menu_item {
//   float: left;
//   // width: 33.33%;
//   width: calc(100%/3);
//   padding: 2px;
// }

.footer_menu a {
  padding: 0 5px;
  text-decoration: none;
}
#twitter #hidden, #dribbble #hidden, #behance #hidden {
  max-width: 0;
  opacity: 0;
  transition: max-width 0.15s ease-out, opacity 0.10s ease-out, margin 0.10s ease-out;
  overflow: hidden;
  padding: 0;
  margin: 0 0 -4px -5px;
  display: inline-block;
}

#twitter:hover #hidden, #dribbble:hover #hidden, #behance:hover #hidden {
  max-width: 80px;
  opacity: 100%;
  overflow: hidden;
  margin: 0 0 -4px 0;
  transition: max-width 0.15s ease-in, opacity 0.10s ease-in;
}



// #twitter #hidden {
//   opacity: 100%;
//   transition: opacity 0.10s ease-out;
// }
//
// #twitter:hover #hidden {
//   opacity: 20%;
//   transition: opacity 0.10s ease-in;
// }



// #behance ~ #twitter, #behance ~ #dribbble {
//   opacity: 100%;
//   transition: opacity 0.10s ease-out;
// }
//
// #behance:hover ~ #twitter, #behance:hover ~ #dribbble {
//   opacity: 20%;
//   transition: opacity 0.10s ease-in;
// }
//
//
// #dribbble ~ #twitter, #dribbble ~ #behance {
//   opacity: 100%;
//   transition: opacity 0.10s ease-out;
// }
//
// #dribbble:hover ~ #twitter, #dribbble:hover ~ #behance {
//   opacity: 20%;
//   transition: opacity 0.10s ease-in;
// }
